<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IDH.Sales.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OwnModelConnection" connectionString="data source=DESKTOP-MAJ43HS\SQLSERVER;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/CRM.Entities.csdl|res://*/CRM.Entities.ssdl|res://*/CRM.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MAJ43HS\SQLSERVER;initial catalog=Salesrep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="*" path="*.asmx" name="asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <IDH.Sales.BLL.Properties.Settings>
      <setting name="IDH_Sales_BLL_VisitServiceReference_VisitWebService"
        serializeAs="String">
        <value>http://yakensolution.cloudapp.net/IDHServices/Services/VisitWebService.asmx</value>
      </setting>
      <setting name="IDH_Sales_BLL_SalesRepWebReference_SalesRepWebService"
        serializeAs="String">
        <value>http://yakensolution.cloudapp.net/IDHServices/Services/SalesRepWebService.asmx</value>
      </setting>
      <setting name="IDH_Sales_BLL_StockWebReference_StockWebService"
        serializeAs="String">
        <value>http://yakensolution.cloudapp.net/IDHServices/Services/StockWebService.asmx</value>
      </setting>
      <setting name="IDH_Sales_BLL_UserServiceReference_UserWebService"
        serializeAs="String">
        <value>http://yakensolution.cloudapp.net/IDHServices/Services/UserWebService.asmx</value>
      </setting>
      <setting name="IDH_Sales_BLL_DoctorWebReference_DoctorWebService"
        serializeAs="String">
        <value>http://yakensolution.cloudapp.net/IDHServices/Services/DoctorWebService.asmx</value>
      </setting>
    </IDH.Sales.BLL.Properties.Settings>
  </applicationSettings>
</configuration>